body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #0077aa;
    font: large;
}

.projects{
    display: grid;
    margin-left: 2em;
}

h3{
    color: #aa0077;
}

a{
    /* margin-top: 1rem; */
}
.questo-pic{
    display: grid;
}

.rmf-pic{
    display: grid;
}

.aa-pic{
    display: grid;
}

li{
    list-style-type: none;
}

li p{
    margin-left: 1rem;
}