html {
    font-size: 62.5%;
}

body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 1.4rem;
    margin: 2em auto;
    max-width: 80rem;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

h1{
    margin-top: 6rem;
}

a {
    text-decoration: none;
    color: #0077aa;
    font-size: small;
}

.projects {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
}

.projects h3 {
    margin-top: 3rem;
    color: #aa0077;
}

.project-info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.project-info a {
    flex-basis: 50%;
}

.project-info ul {
    padding-left: 2rem;
}

.project-image {
    width: 100%;
    height: 100%;
    flex-basis: 45%;
}

.experience-list {
   display: flex;
   flex-direction: column;
   padding-left: 0;
}

.experience-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logos {
    flex-basis: 15%;
    width: 1rem;
}

.experience-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-basis: 90%;
}

.experience-list li {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}

.experience-list li:last-child {
    border-bottom: none;
}

.experience-list li p {
    margin-left: 0;
}

.bare-list {
    list-style-type: none;
}

.education-list {
    display: flex;
    flex-direction: column;
}

.education-list li {
    margin-top: 2rem;
    flex-direction: column;
}

.education-title {
    display: flex;
    flex-direction: row;
}

.education-detail {
    display: flex;
    flex-direction: column;
}

.license {
    font-size: small;
}

#licence-icon {
    width: 2%;
    height: 2%;
}

/*for tablet*/
@media screen and (min-width: 480px) {
    body {
        font-size: 1.6rem;
    }
    .project-info{
        flex-direction: row;
    }
    .project-info ul {
        padding-left: 4rem;
    }
    .logos{
        flex-basis: 10%;
    }   
}

/*for desktop*/
@media screen and (min-width: 800px) {
    .project-info{
        flex-direction: row;
    }
    body {
        font-size: 1.6rem;
    }
    .project-info ul {
        padding-left: 6rem;
    }
}